/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* RESET END */

:root {
  --first-color: #C88E2D;
  --second-color: #5187B5;
  --second-color-ligther: #A8C3DA;
  --third-color: #819B42;
  --fourth-color: #D13945;
  --xl-size: 57.665rem;
  --l-size: 25.629rem;
  --lm-size: 11.391rem;
  --m-size: 5.063rem;
  --s-size: 3.375rem;
  --xs-size: 1.5rem;
  --default-size: 1rem;
}


html {
  font-size: 5px;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;  
  background-color: white;
  background: url("/svgs/background.svg") bottom center no-repeat;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;
  height: 100vh; 
  width: 100%;
  font-size: var(--m-size);
  color: var(--first-color);
}

a {
  cursor: pointer;
}

h1 {
  font-family: 'Merriweather', serif;
  color: var(--first-color);
  font-size: var(--m-size);
  margin-bottom: var(--xs-size);
}

h1.display-name {
  font-size: var(--lm-size);
  margin-bottom: var(--s-size);
  overflow-wrap: break-word;  
}

ul.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;  
}

p, li {
  font-size: var(--m-size);
}

/* Modifiers */
.hide {
  display: none;
}

/* Classes */
.list li {
  display: inline-block;
  margin:var(--s-size) 0 0 0;
  flex-grow: 1;
}

li .active {
  font-weight: 600; 
}

.name-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 45vh
}

.gender {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.gender-box {
  margin-top: var(--m-size);
}

.name-description {
  font-family: 'Merriweather', serif;
  color: #D4C4A4;
  font-size: var(--s-size);
}

.App {
  display: flex;
  flex-flow: column;
}

.action-container {
  margin: var(--s-size) auto auto auto;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 87vh;
  width: 100%;
}

.action-box {
  width: 90%;
}

.name-list {
  display: flex;
  flex-wrap: wrap;
}

.action-box p {
  font-weight: 600;
}

.action-box li {
  padding: 1rem 0;
  width: 100%;
  flex-grow: 1;
}

.progress-box {
  margin-bottom: auto;
}

/* Buttons */
.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: var(--s-size);
}

.button {
  font-family: inherit;
  font-size: var(--s-size);
  padding: var(--s-size) var(--m-size);
  color: #fff;
  border: 1px solid #999;
  border: transparent;
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 0;
  cursor: pointer;
  width: var(--l-size);
}

.button-yes {
  background-color: var(--third-color);
}

.button-no {
  background-color: var(--fourth-color);
}

.gender-box .buttons {
  margin-top: var(--s-size);
}

.button.boy {
  font-size: var(--s-size);  
  background-color: var(--third-color);
}

.button.girl {
  font-size: var(--s-size); 
  background-color: var(--fourth-color);
}


/* Menu's */
.navbar {
  text-align: center;
  margin-top: var(--m-size);  
}

.restart {
  color: var(--second-color);
  font-size: var(--s-size);
  opacity: .6;
}

.back-icon {
  color: var(--third-color);
  opacity: .6;
}

.tab-menu {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--second-color-ligther);
  margin-bottom: var(--m-size);  
}

.tab-menu li {
  padding-left: 20px;
  padding-right: 20px;
  width: 33%;
  padding: var(--default-size);
}

.tab-menu a {
  color: var(--second-color);
  font-size: var(--s-size);
  text-decoration: none;
}

.tab-menu li:nth-of-type(2) {
  border-left: 1px solid var(--second-color-ligther);
  border-right: 1px solid var(--second-color-ligther);
}

/* Animations */
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.cross-fade-height {
  transition: height .5s ease-in-out;
}

.fade-wait-leave {
  opacity: 1;
}
.fade-wait-leave.fade-wait-leave-active {
  opacity: 0;
  transition: opacity .4s ease-in;
}

.fade-wait-enter {
  opacity: 0;
}
.fade-wait-enter.fade-wait-enter-active {
  opacity: 1;
  /* Delay the enter animation until the leave completes */
  transition: opacity .4s ease-in .6s;
}

.fade-wait-height {
  transition: height .6s ease-in-out;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}


@media (min-width: 500px) {
  html {
    font-size: 10px;
  }

  p, li {
    font-size: var(--s-size);
  }
  
  .action-box li {
    padding: 1rem 0;
    width: 50%;
    flex-grow: 1;
  }
  
  .buttons {
    margin-bottom: var(--m-size);
    justify-content: center;
  }

  .button {
    padding: var(--default-size) var(--s-size);
    margin: 0 var(--s-size);
  }

  .navbar {
    text-align: left;
    margin-top: var(--xs-size);
    margin-left: var(--m-size);  
  }

  .restart {
    font-size: 2rem;
  }

}

@media (min-width: 900px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1600px) {
  
  html {
    font-size: 16px;
  }

  .restart {
    margin-left: var(--xs-size);
    text-align: left;  
    font-size: var(--xs-size);
  }

  .action-box {
    width: var(--xl-size);
  }

  .action-container {
    width: 100%;
  }

  h1.display-name {
    font-size: var(--lm-size);
    margin-bottom: var(--s-size);    
  }

  /*.name-box {
    height: 20rem;
    margin-bottom: var(--s-size);
    height: auto;
  }*/

  .tab-menu {
    border-bottom: 3px solid var(--second-color-ligther);
  }

  .tab-menu li:nth-of-type(2) {
    border-left: 3px solid var(--second-color-ligther);
    border-right: 3px solid var(--second-color-ligther);
  }  

  .list li {
    width: 33%;
  }
}

